<html>
    <head>
         <link rel="stylesheet" href="/css/styles.css">
          <link rel="icon" href="/img/speak.jpg">
         <title>About</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site contains data from <a>mapbox.com</a> and <a>darksky.com</a></p>
       </div>
         {{>footer}}
    </body>
</html>