body{
    color:black;
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width:650px;
    margin: 0 auto;
    background-image:url(/img/newbg.jpg);
    background-position:center;
    background-size:cover;
    display:flex;
    flex-direction:column;
    min-height:100vh
}
input{
    padding:15px 32px;
    border:plum;
    font-size:16px;
    text-align:center;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.main-content{
    flex-grow:1;
}
header{
    float:center;
    margin:16px;
    padding:60px;
    font-size:100

}
a:link{
    color:blue;
    padding:16px;
    margin:16px;
    font-size:32px;
    text-decoration:none;
}
a:visited{
    color:purple;
    padding:16px;
    margin:16px;
    font-size:32px;
    text-decoration:underline;
    background-color:transparent;
}
a:hover{
color:red;
}
a:active{
    color:green;
}
footer{
    background:pink;
}
h1{
    font-size:64px;
}
p{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}